.container{
    background-color: rgb(36, 36, 36);
    color:rgb(171, 172, 172);
    padding: 100px;
    text-align: center;
    display: flex;
}
.wrapper{
    color:rgb(12, 34, 34);
    width: 33%;
    text-align: center;
    background-color: azure;
    padding: 10px;
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1vh;
}